@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-tooltip/dist/bulma-tooltip.sass";
@import "../node_modules/bulma-calendar/dist/bulma-calendar.sass";

.tooltip {
    &.movement-description {
        margin-left: 1em;
        cursor: pointer;
    }
}

.movement-filters {
    > div.select {
        margin-right: 1em;
    }
}

.dashboard {
    section {
        margin-top: 1em;
        margin-bottom: 2em;
    }
}
